openapi: 3.1.0
info:
  title: Current Weather Data API
  description: Get the current weather for any location worldwide.
  license:
    name: CC BY-SA 4.0 Deed - Attribution-ShareAlike 4.0 International
    url: https://creativecommons.org/licenses/by-sa/4.0/
  version: 2.5.0
  contact:
    name: OpenWeather
    url: https://openweathermap.org/
    email: info@openweathermap.org
servers:
  - url: https://api.openweathermap.org/data/2.5
paths:
  /weather:
    get:
      tags:
        - Weather
      operationId: getCurrentWeather
      summary: Get current weather data
      description: |
        Retrieve the current weather conditions for a specified location
        using latitude and longitude coordinates.
      parameters:
        - $ref: "#/components/parameters/lat"
        - $ref: "#/components/parameters/lon"
        - $ref: "#/components/parameters/mode"
        - $ref: "#/components/parameters/units"
        - $ref: "#/components/parameters/lang"
      responses:
        "200":
          description: Successful response - Current weather data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherData"
            application/xml:
              schema:
                $ref: "#/components/schemas/WeatherData"
            text/html:
              schema:
                type: string
                description: "HTML representation of the weather data, with values formatted for display."
        "400":
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidParameters:
                  summary: Invalid input parameters
                  value:
                    cod: 400
                    message: "Nothing to geocode"
        "401":
          description: Unauthorized - Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidApiKey:
                  summary: Invalid API key
                  value:
                    cod: 401
                    message: "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."
        "429":
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: appid
  parameters:
    lat:
      name: lat
      in: query
      description: Latitude of the desired location
      required: true
      schema:
        type: number
        format: float
        minimum: -90
        maximum: 90
    lon:
      name: lon
      in: query
      description: Longitude of the desired location
      required: true
      schema:
        type: number
        format: float
        minimum: -180
        maximum: 180
    mode:
      name: mode
      in: query
      description: |
        Response format.

        Default is `json` if you don't use the `mode` parameter.
      required: false
      schema:
        type: string
        enum: [html, json, xml]
    units:
      name: units
      in: query
      description: |
        Units of measurement for temperature (Kelvin, Celsius, Fahrenheit), wind speed, and wind gust (meter/sec, miles/hour)

        Default is `standard` (Kelvin, meter/sec) if you don't use the `units` parameter.
      required: false
      schema:
        type: string
        enum: [standard, metric, imperial]
    lang:
      name: lang
      in: query
      description: |
        Output language for the `weather.description` and `name` fields in the API response.

        Available options:

        * `af`: Afrikaans
        * `al`: Albanian
        * `ar`: Arabic
        * `az`: Azerbaijani
        * `eu`: Basque
        * `be`: Belarusian
        * `bg`: Bulgarian
        * `ca`: Catalan
        * `zh_cn`: Chinese Simplified
        * `zh_tw`: Chinese Traditional
        * `hr`: Croatian
        * `cs`: Czech
        * `da`: Danish
        * `nl`: Dutch
        * `en`: English
        * `fi`: Finnish
        * `fr`: French
        * `gl`: Galician
        * `de`: German
        * `el`: Greek
        * `he`: Hebrew
        * `hi`: Hindi
        * `hu`: Hungarian
        * `is`: Icelandic
        * `id`: Indonesian
        * `it`: Italian
        * `ja`: Japanese
        * `kr`: Korean
        * `ku`: Kurmanji (Kurdish)
        * `la`: Latvian
        * `lt`: Lithuanian
        * `mk`: Macedonian
        * `no`: Norwegian
        * `fa`: Persian (Farsi)
        * `pl`: Polish
        * `pt`: Portuguese
        * `pt_br`: Português Brasil
        * `ro`: Romanian
        * `ru`: Russian
        * `sr`: Serbian
        * `sk`: Slovak
        * `sl`: Slovenian
        * `es`: Spanish
        * `sv`: Swedish
        * `se`: Swedish
        * `th`: Thai
        * `tr`: Turkish
        * `uk`: Ukrainian
        * `vi`: Vietnamese
        * `zu`: Zulu
      required: false
      schema:
        type: string
  schemas:
    WeatherData:
      type: object
      properties:
        coord:
          type: object
          properties:
            lon:
              type: number
              description: Longitude of the location
            lat:
              type: number
              description: Latitude of the location
        weather:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                description: Weather condition identifier
              main:
                type: string
                description: Group of weather parameters (Rain, Snow, Clouds etc.)
              description:
                type: string
                description: Weather condition within the group
              icon:
                type: string
                description: Weather icon identifier
        base:
          type: string
          description: Internal parameter
        main:
          type: object
          properties:
            temp:
              type: number
              description: Temperature
            feels_like:
              type: number
              description: Temperature accounting for human perception
            pressure:
              type: integer
              description: Atmospheric pressure on the sea level (hPa)
            humidity:
              type: integer
              description: Humidity (%)
            temp_min:
              type: number
              description: Minimum temperature at the moment (only for large megapolises and urban areas)
            temp_max:
              type: number
              description: Maximum temperature at the moment (only for large megapolises and urban areas)
            sea_level:
              type: integer
              description: Atmospheric pressure on the sea level (hPa)
            grnd_level:
              type: integer
              description: Atmospheric pressure on the ground level (hPa)
        visibility:
          type: integer
          description: Visibility, meters (maximum 10000)
        wind:
          type: object
          properties:
            speed:
              type: number
              description: Wind speed
            deg:
              type: integer
              description: Wind direction, degrees (meteorological)
            gust:
              type: number
              description: Wind gust
        clouds:
          type: object
          properties:
            all:
              type: integer
              description: Cloudiness (in percentage)
        rain:
          type: object
          nullable: true
          properties:
            1h:
              type: number
              description: Rain volume for the last 1 hour (mm)
            3h:
              type: number
              description: Rain volume for the last 3 hours (mm)
        snow:
          type: object
          nullable: true
          properties:
            1h:
              type: number
              description: Snow volume for the last 1 hour (mm)
            3h:
              type: number
              description: Snow volume for the last 3 hours (mm)
        dt:
          type: integer
          description: Time of data calculation, in Unix time (UTC)
        sys:
          type: object
          properties:
            type:
              type: integer
              description: Internal parameter
            id:
              type: integer
              description: Internal parameter
            message:
              type: number
              description: Internal parameter
            country:
              type: string
              description: Country code. For example, `FR` for France.
            sunrise:
              type: integer
              description: Sunrise time, in Unix time (UTC)
            sunset:
              type: integer
              description: Sunset time, in Unix time (UTC)
        timezone:
          type: integer
          description: Shift in seconds from UTC
        id:
          type: integer
          description: City identifier
        name:
          type: string
          description: City name
        cod:
          type: integer
          description: HTTP code
    Error:
      type: object
      properties:
        cod:
          type: integer
          description: HTTP error code
        message:
          type: string
          description: Description of the error code
security:
  - apiKey: []
tags:
  - name: Weather
    description: Operations related to weather data
